.topnav {
    height: 130px;
    width: 100%;
    background-color: #EFE6DD;
}

.logo {
    position: absolute;
    top: 30px;
    left: 80px;
}

.home_button {
    height: 70px;
    width: 90px;
    background-color: #edcdbb;
    border-radius: 20%;
    position: absolute;
    left: 800px;
    top: 37px;
}

.home {
    position: absolute;
    left: 825px;
    top: 60px;
}

.home_button_two {
    height: 70px;
    width: 90px;
    background-color: #edcdbb;
    border-radius: 20%;
    position: absolute;
    left: 1000px;
    top: 37px;
}

.home_two {
    position: absolute;
    left: 1025px;
    top: 60px;
}

.home_button_three {
    height: 70px;
    width: 90px;
    background-color: #edcdbb;
    border-radius: 20%;
    position: absolute;
    left: 1200px;
    top: 37px;
}

.home_three {
    position: absolute;
    left: 1217px;
    top: 60px;

}
.big_window {
    height: 300px;
    width: 350px;
    background-color: #3a3a3a;
    border-radius: 20%;
    position: absolute;
    top: 390px;
    left: 265px;
}
@font-face {
    font-family: Rubik Moonrocks;
    src: url(images/RubikMoonrocks-Regular.ttf);
}
.header {
    position: absolute;
    top: 10px;
    left: 410px;
    font-size: 40px;
    font-family: Rubik Moonrocks; 
}
.content {
    position: absolute;
    top: 450px;
    left: 253px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}