.topnav {
    height: 130px;
    width: 100%;
    background-color: #EFE6DD;
}

.logo {
    position: absolute;
    top: 30px;
    left: 80px;
}

.home_button {
    height: 70px;
    width: 90px;
    background-color: #bb5511;
    border-radius: 20%;
    position: absolute;
    left: 800px;
    top: 37px;
}

.home {
    position: absolute;
    left: 825px;
    top: 60px;
}

.home_button_two {
    height: 70px;
    width: 90px;
    background-color: #bb5511;
    border-radius: 20%;
    position: absolute;
    left: 1000px;
    top: 37px;
}

.home_two {
    position: absolute;
    left: 1025px;
    top: 60px;
}

.home_button_three {
    height: 70px;
    width: 90px;
    background-color: #bb5511;
    border-radius: 20%;
    position: absolute;
    left: 1200px;
    top: 37px;
}

.home_three {
    position: absolute;
    left: 1217px;
    top: 60px;
}
@font-face {
    font-family: Rubik Moonrocks;
    src: url(images/RubikMoonrocks-Regular.ttf);
}

.header {
    position: absolute;
    top: 10px;
    left: 410px;
    font-size: 40px;
    font-family: Rubik Moonrocks;
}
.pizza {
    position: absolute;
    color: white;
    top: 150px;
    left: 1040px;
    font-size: 30px;
}
.pizza_menu {
    position: absolute;
    color: white;
    top: 210px;
    left: 835px;
    font-size: 18px;
}
.salads {
    position: absolute;
    color: white;
    top: 430px;
    left: 1037px;
    font-size: 30px;
}
.salads_menu {
    position: absolute;
    color: white;
    top: 490px;
    left: 835px;
    font-size: 18px;
}
.dessert {
    position: absolute;
    color: white;
    top: 705px;
    left: 1030px;
    font-size: 30px;
}
.desserts_menu {
    position: absolute;
    color: white;
    top: 760px;
    left: 835px;
    font-size: 18px;
}